@model IEnumerable<CodingChallenge1.Models.PropertyViewModel>

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        <div class="col-md-12">
            <h4>Search properties</h4>
            <p>
                <input type="text" size="8" placeholder="city" id="city" name="city" value="@Request["city"]">
                <input type="text" size="8" placeholder="state" id="state" name="state" value="@Request["state"]">
                <input type="text" size="6" placeholder="zip" id="zip" name="zip" value="@Request["zip"]">
                <select id="bedrooms" name="bedrooms">
                    <option value="">Bedrooms</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                </select>
                <select id="bathrooms" name="bathrooms">
                    <option value="">Bathrooms</option>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                </select>

                <input type="submit" class="btn-info" id="search" value="Search" name="search">
            </p>
            <hr />
        </div>
    }
</div>

<div class="row">
    <div class="col-md-8" id="dvMap" style="height:500px;">
    </div>
    @{
        int i = 0;
    }

    @foreach (var item in Model)
    {

        i++;
        <div class="col-md-3">
            <div class="card">
                <a href="/Property/@item.Id">
                    <img style="max-height:130px; max-width:200px;" src="@item.ImageUrl">
                </a>
                <h4>
                    @item.Name <a href="/Home/Favourite?propertyId=@item.Id">
                        @if (item.IsFavourite)
                        {
                            <span class="glyphicon glyphicon-heart favourite-no" aria-hidden="true"></span>
                        }
                        else
                        {
                            <span class="glyphicon glyphicon-heart favourite-yes" aria-hidden="true"></span>
                        }
                    </a>
                </h4>
                <h5>bd @item.Bedrooms ba @item.Bathrooms - @string.Format("{0:C}", item.Price)</h5>
                <h6>@item.City, @item.State - @item.ZipCode</h6>
                <a href="javascript:google.maps.event.trigger(gmarkers['@item.Id'],'click');" class="button3">View In Map</a>
                <hr />
            </div>
        </div>
    }
</div>

@if (i == 0)
{
    <div class="row">
        <div class="col-md-12">
            <h4>There are no properties available in this location.</h4>
            <h5>Please change the search criteria to find properties</h5>
        </div>
    </div>
}

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyCICQhqcjhXQNrgkT_dO6gLrogtC65CpO4&callback=initMap" async defer></script>
<script type="text/javascript">
    var lat = 28.6139;
    var lng = 77.209;
    @if (Model.FirstOrDefault() != null) {
        <text>
        lat =@Model.FirstOrDefault().Latitude;
        lng =@Model.FirstOrDefault().Longitude;
        </text>
    }

    function initMap() {
        var map = new google.maps.Map(document.getElementById('dvMap'), {
                center: {
        lat: lat,
                    lng: lng
                },
            zoom: 10
        });

    gmarkers = [];

    function addMarker(latitude, longitude, title, description, details, map) {
        var latLng = new google.maps.LatLng(latitude, longitude);
        var contentString = '<h3>' + title + '</h3>' + '<h4>' + description + '</h3>' + '<h5>' + details + '</h5>';

        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });

        var marker = new google.maps.Marker({
            position: latLng,
            title: title,
            map: map,
            draggable: false
        });

        google.maps.event.addListener(marker, 'click', function () {
            console.log('clic');
            infowindow.open(map, marker);
        });

        return marker;
    }
    @foreach (var item in Model) {
        @:gmarkers['@item.Id'] = addMarker(@item.Latitude, @item.Longitude, '@item.Name - @string.Format("{0:C}", item.Price)', '@item.State, @item.City - @item.ZipCode', '@item.Bedrooms bd @item.Bathrooms ba' , map);
    }
}
</script>