@model IEnumerable<CodingChallenge1.Models.Property>

@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-8">
        <h3>Search</h3>
        <p>
        </p>
    </div>
    <div class="col-md-4">
    </div>
</div>

<div class="row">
    <div class="col-md-8" id="dvMap" style="height:500px;">
    </div>

    @foreach (var item in Model)
    {

        <div class="col-md-3">
            <div class="card">
                <img width="200" src="http://cevirdikce.com/proje/hasem-2/images/finance-1.jpg">
                <h4>@item.Name</h4>
                <h5>bd @item.Bedrooms ba @item.Bathrooms</h5>
                <h6>@item.City, @item.State - @item.ZipCode</h6>
                <a href="javascript:google.maps.event.trigger(gmarkers['@item.Id'],'click');" class="button3">View In Map</a>
            <a href="blog-ici.html" class="blue-button">Read More</a>
            </div>
        </div>
    }

        
</div>
@*<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>*@
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyCICQhqcjhXQNrgkT_dO6gLrogtC65CpO4&callback=initMap" async defer></script>
<script type="text/javascript">
    var lat = 28.6139;
    var lng = 77.209;
    @if (Model.FirstOrDefault() != null) {
        <text>
        lat =@Model.FirstOrDefault().Latitude;
        lng =@Model.FirstOrDefault().Longitude;
        </text>
    }

    function initMap() {
        var map = new google.maps.Map(document.getElementById('dvMap'), {
                center: {
        lat: lat,
                    lng: lng
                },
            zoom: 7
        });

    gmarkers = [];

    function addMarker(latitude, longitude, title, description, details, map) {
        var latLng = new google.maps.LatLng(latitude, longitude);
        var contentString = '<h3>' + title + '</h3>' + '<h4>' + description + '</h3>' + '<h5>' + details + '</h5>';

        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });

        var marker = new google.maps.Marker({
            position: latLng,
            title: title,
            map: map,
            draggable: false
        });

        google.maps.event.addListener(marker, 'click', function () {
            console.log('clic');
            infowindow.open(map, marker);
        });

        return marker;
    }
    @foreach (var item in Model) {
        @:gmarkers['@item.Id'] = addMarker(@item.Latitude, @item.Longitude, '@item.Name', '@item.State, @item.City - @item.ZipCode', '@item.Bedrooms bd @item.Bathrooms ba' , map);
    }
}
</script>